* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background-color: lightblue;
}
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #085658;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-top: 150px;
}
form {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  padding-top: 1px;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input {
  margin: 10px 0px 10px 0px;
}
.input label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: green;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.error {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  padding-top: 20;
  color: red;
  background: white;
  text-align: left;
}
@media(max-width:991px) {
  .header {
    width: 60%;
  }
  .error {
    width: 60%;
  }
  form {
    width: 60%;
  }
}